.activity-page{
    width: 100vw;
    height: calc(100vh - 45px);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
}
.activity-page-container{
    padding-bottom: 10px;
    
}
.activity-page h2{
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-top: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: var(--main-text-color)
}
.commits-tile{
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: var(--card-color);
    border-radius: 10px;
    margin: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.commits-controls-container{
    width: 100%;
    display: flex;
    gap: 3%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.commits-controls-container p{
    margin: 0;
    margin-bottom: 5px;
}

.year{
    flex: 0 0 20%;
}
.member{
    flex: 0 0 36%;
}
.repo{
    flex: 0 0 36%;
}
.flex1{
    flex: 1;
}
.commits{
    display: block;
    width: 100%;
}
.commits-date-container{
    border: 1px solid var(--border-color);
    border-radius: 10px;
}


.last-activity-tile{
    padding: 0px 15px;
    background-color: var(--card-color);
    border-radius: 10px;
    margin: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sprints-tile{
    padding: 15px;
    background-color: var(--card-color);
    border-radius: 10px;
    margin: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sprints-tile button{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 0.6rem 0px;
    color: var(--alt-text-color);
    background-color: var(--main-blue-color);
    font-size: 1.2rem;
    cursor: pointer;
}
.sprints-flex{
    display: flex;
}

.sprints-flex-img{
    cursor: pointer;
    width: 2rem;
}
.sprints-flex p{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 8px;
    font-style: italic;
}

.grad-separator{
    height: 2px;
    background: var(--main-gradient);
}
@media (width < 730px) {
    .commits-controls-container{
        display: block;
    }
    .commits-tile{
        display: block;
        width: 100%;
    }
    .controls-block{
        margin-bottom: 8px;
    }
}

@media (width >= 1460px){
    .activity-page-container{
        columns: 2;
        max-width: 1460px;
      
    }
    .activity-page-container div {
        break-inside: avoid;
    }
}