html, body, head {
  margin: 0;
  padding: 0;
}


body { 
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-blue-color: #005AAA;
  --main-red-color: #E4003A;
  --main-text-color:#000000;
  --alt-text-color:#ffffff;
  --bg-color:#F7F9FA;
  --card-color:#FFFFFF;
  --border-color:#D9D9D9;
  --main-gradient: linear-gradient(270deg,var(--main-red-color), var(--main-blue-color));
  --activity-100: #005AAA;
  --activity-75: #337BCC;
  --activity-50: #66A3E6;
  --activity-25: #99C8FF;
}